body {
  background: #eee;
  text-align: center;
  font-family: arial, sans-serif;
  padding: 0;
  margin: 0; }

#main {
  width: 800px;
  margin: 0;
  text-align: left;
  background: white;
  padding: 0;
  border: solid #ddd;
  border-width: 0 1px 1px 1px; }
  #main #roomSelect {
    float: left;
    width: 30%;
    max-width: 300px;
    background-color: #f7f7f7;
    padding: 0;
    margin: 0; }
    #main #roomSelect .rooms {
      padding: 0;
      margin: 0; }
    #main #roomSelect li {
      list-style-type: none;
      cursor: pointer;
      height: 30px;
      color: white;
      background: #112299;
      margin: 0;
      border-bottom: solid 1px #332299; }
      #main #roomSelect li p {
        padding: 8px;
        margin: 0; }
  #main #chats {
    width: 69.99%;
    float: right;
    max-width: 700px;
    min-height: 400px;
    background: #fff;
    margin: 0;
    padding: 0; }
  #main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px; }
  #main span {
    font-style: italic; }
  #main ul {
    padding-left: 20px; }
  #main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px; }
  #main .success {
    margin-top: 25px; }
    #main .success code {
      font-size: 12px;
      color: green;
      line-height: 13px; }

form {
  padding: 20px;
  padding-left: 0;
  margin-bottom: 20px; }
  form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px; }

.chat {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eee; }
  .chat .username {
    font-weight: 800; }
  .chat:hover {
    background-color: #ddd; }

.spinner {
  float: right;
  height: 46px;
  margin-bottom: 5px; }
  .spinner img {
    padding: 10px; }
