html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #9ACCB3;
  text-align: center;
  font-family: arial, sans-serif;
  padding: 0;
  margin: 0; }

#main {
  width: 800px;
  margin: 0;
  text-align: left;
  background: white;
  padding: 0;
  border: solid #ddd;
  border-width: 0 1px 1px 1px; }
  #main #message-submission {
    width: 100%;
    padding: 20px 10px;
    margin: 0; }
    #main #message-submission input[type='text'] {
      width: 100%;
      padding: 10px;
      font-size: 14px;
      border: solid 1px #69BAB3; }
  #main #roomSelect {
    float: left;
    width: 30%;
    max-width: 300px;
    background-color: #69BAB3;
    padding: 0;
    margin: 0; }
    #main #roomSelect h1 {
      font-family: 'Montserrat', Montserrat;
      font-weight: bold;
      color: white;
      font-size: 1.5em;
      padding: 8px;
      margin: 0;
      margin-top: 15px; }
    #main #roomSelect .rooms {
      padding: 0;
      margin: 0; }
    #main #roomSelect li {
      list-style-type: none;
      font-family: 'Montserrat', Montserrat;
      cursor: pointer;
      min-height: 30px;
      color: white;
      margin: 0;
      border-top: solid 1px #3c817b; }
      #main #roomSelect li:last-child {
        border-bottom: solid 1px #3c817b; }
      #main #roomSelect li p {
        padding: 8px;
        margin: 0; }
  #main #chats {
    width: 69.99%;
    float: right;
    max-width: 700px;
    min-height: 200px;
    background: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 100px; }
    #main #chats .initial-message {
      text-transform: uppercase;
      color: #ccc;
      text-align: center;
      padding: 60px 0;
      font-family: 'Montserrat', Montserrat;
      font-size: 1.25em; }
    #main #chats h3.name {
      color: #3A5F6F;
      font-family: 'Montserrat', Montserrat;
      font-weight: bold;
      letter-spacing: 0.05em;
      padding: 0px 10px;
      margin: 40px 0 0 0;
      font-size: 1.75em; }
    #main #chats .message {
      padding: 10px;
      border-top: solid 1px #9ACCB3; }
      #main #chats .message:last-child {
        border-bottom: solid 1px #9ACCB3; }
      #main #chats .message .username {
        font-size: 10px;
        margin-bottom: 5px;
        font-family: 'Montserrat', Montserrat;
        font-weight: bold;
        color: #3A5F6F; }
      #main #chats .message p.text {
        padding: 0;
        margin: 0;
        min-height: 12px; }
      #main #chats .message:nth-child(2n+1) {
        background-color: #f5fafa; }
  #main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px; }
  #main span {
    font-style: italic; }
  #main ul {
    padding-left: 20px; }
  #main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px; }
  #main .success {
    margin-top: 25px; }
    #main .success code {
      font-size: 12px;
      color: green;
      line-height: 13px; }

form {
  padding: 20px;
  padding-left: 0;
  margin-bottom: 20px; }
  form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px; }

.chat {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eee; }
  .chat .username {
    font-weight: 800; }
  .chat:hover {
    background-color: #ddd; }

.spinner {
  float: right;
  height: 46px;
  margin-bottom: 5px; }
  .spinner img {
    padding: 10px; }
